.main-header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-style: bold;
}

.main-footer {
    color:white;
    background-color: black;
    text-align: center;
    padding: 15px;
}